*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/spotify-app-remote-release-0.7.1
/app/build
/app/debug
/app/release
/app/src/androidTest*
/app/src/test*
/app/src/main/res/values/hidden-strings.xml
